@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #01071a;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    margin: 20px auto;
}
.flex{
    display: flex;
    padding: 1rem 0rem;
    width: 100%;
    /*background-color: #ececec;*/
}
.flex input{
    height: 3.9rem;
    padding-left: 18px;
    width: 90%;
    border: none;
    font-size: 1.5em;
    background-color: #fff;
}

.flex .btn{
    width: 10%;
}

.flex input:focus{
    outline:orangered solid 1px;
}

.btn{
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: orangered;
    font-weight: 600;
    font-size: 1.1rem;
}

.btn:last-of-type{
    cursor: pointer;
}

.repos{
    padding: 20px 0px;
}
.repo{
    background-color: white;
    display: flex;
    padding: 10px;
    margin: 1rem 0px;
    justify-content:space-between;
    align-items: center;
}

.repo p{
    flex-basis: 50%;
    font-size: 1.5rem;
}
.repo .info{
    display: flex;
    justify-content:space-between;
    flex-basis: 50%;
    max-width: 100%;
}

a{
    color: white;
    text-decoration: none;
}


@media (max-width: 767px) {
    .btn{
        padding: 0.25rem 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: orangered;
        font-weight: 600;
        font-size: 1.1rem;
    }

    .repo p{
        max-width: 100px;
        font-size: 1rem;
    }

    .flex .btn{
        width: 120px;
    }
}